.hvr-float
	// display: nline-block
	vertical-align: middle
	-webkit-transform: perspective(1px) translateZ(0)
	transform: perspective(1px) translateZ(0)
	box-shadow: 0 0 1px transparent
	-webkit-transition-duration: 0.3s
	transition-duration: 0.3s
	-webkit-transition-property: transform
	transition-property: transform
	-webkit-transition-timing-function: ease-out
	transition-timing-function: ease-out

.hvr-float:hover, 
.hvr-float:focus
	-webkit-transform: translateY(-8px)
	transform: translateY(-8px)

.floating
  animation-name: floating
  -webkit-animation-name: floating
  animation-duration: 1.5s
  -webkit-animation-duration: 1.5s
  animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite

@keyframes floating
  0%
    transform: translateY(0%)

  50%
    transform: translateY(8%)

  100%
    transform: translateY(0%)


@-webkit-keyframes floating
  0%
    -webkit-transform: translateY(0%)

  50%
    -webkit-transform: translateY(8%)

  100%
    -webkit-transform: translateY(0%)


$duration: 30s

@-webkit-keyframes ticker
	0%
		-webkit-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)
		visibility: visible
	100%
		-webkit-transform: translate3d(-100%, 0, 0)
		transform: translate3d(-100%, 0, 0)

@keyframes ticker
	0%
		-webkit-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)
		visibility: visible
	100%
		-webkit-transform: translate3d(-100%, 0, 0)
		transform: translate3d(-100%, 0, 0)


.slideUp
	animation-name: slideUp
	-webkit-animation-name: slideUp	

	animation-duration: 0.8s	
	-webkit-animation-duration: 0.8s

	animation-timing-function: ease	
	-webkit-animation-timing-function: ease

	visibility: visible !important

@keyframes slideUp 
	0% 
		transform: translateY(100%)
		opacity: 0
	100% 
		transform: translateY(0%)
		opacity: 1

@-webkit-keyframes slideUp 
	0% 
		-webkit-transform: translateY(100%)
		opacity: 0
	100% 
		-webkit-transform: translateY(0%)
		opacity: 1






.ticker
	display: inline-block
	white-space: nowrap // display items in a line
	padding-right: 100% // ensure items go before animations repeat (taken from parent due to inline-block)
	line-height: 24px
	height: 24px
	// float: left
	box-sizing: unset !important

	-webkit-animation-iteration-count: infinite 
	animation-iteration-count: infinite
	-webkit-animation-timing-function: linear
	animation-timing-function: linear
	-webkit-animation-name: ticker
	animation-name: ticker
	-webkit-animation-duration: $duration
	animation-duration: $duration
	&__item
		display: inline-block
		padding: 0 18px
		font-size: 14px
		letter-spacing: 0.98px
		color: tint(#635636, 75%)
		a
			color: shade(#635636, 15%)
			padding-left: 8px
			// font-weight: lighter
			&:hover
				color: tint(#635636, 10%)
 
@keyframes fadeInUp
  from
    opacity: 0
    -webkit-transform: translate3d(0, 30%, 0)
    transform: translate3d(0, 30%, 0)
  to
    opacity: 1
    -webkit-transform: none
    transform: none
 
.fadeInUp
  -webkit-animation-name: fadeInUp
  animation-name: fadeInUp

.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.hideme
	opacity: 0