.photography
	.project-title
		span
			color: #fafafa
	.intro
		&-dark
			color: shade(#fafafa,45%)
			background-color: #fafafa
			@extend .slideUp
			.project-side-header-label
				color: shade(#fafafa,45%)
			h2
				color: shade(#fafafa,80%)