.retail
	.project-title
		span
			color: shade(#466df7,20%)
	.intro
		&-blue
			color: shade(#3857c6, 45%)
			background-color: shade(#466df7,20%)
			@extend .slideUp
			.project-side-header-label
				color: shade(#3857c6, 45%)
			h2
				color: tint(#3857c6, 95%)