html
	font-size: 1vw
html,
body
	font-family: 'Ropa Sans', sans-serif

h1,
h2,
h3,
h4,
h5
	font-family: 'Open Sans', sans-serif

p
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
nav
	span
		font-size: 0.8em
	.logo
		font-size: 3em
	p
		font-size: 1em
		
.project-thmb
	a
		text-decoration: none
	.type
		font-size: 0.8em
	h2
		font-size: 1.2em
		font-weight: 100
	p
		font-size: 1em

.contact a
	text-decoration: none
	letter-spacing: 0.91px

.project-side-label h4