html
	font-size: 1vw
html,
body
	font-family: "nimbus-sans",sans-serif !important

h1,
h2,
h3,
h4,
h5
	font-family: "nimbus-sans",sans-serif

p
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

a
	text-decoration: none

ul,
ol
	list-style-type: none
	padding: 0
	margin: 0

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
li::selection,
span::selection,
a::selection,
div::selection,
detail::selection
	color:  tint(#635636, 25%)
	border-top: 1px solid #635636
	border-bottom: 1px solid #635636
	background: transparent
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
p::-moz-selection,
li::-moz-selection,
span::-moz-selection,
a::-moz-selection,
div::-moz-selection,
detail::-moz-selection
	color:  tint(#635636, 25%)
	background: transparent

nav
	span
		font-size: 0.8em
	.logo
		font-size: 3em
		margin: 0
		padding: 0
		a
			text-decoration: none
	p
		font-size: 1em
		
.project-thmb,
.footer-project-nav
	a
		text-decoration: none
	.type
		font-size: 0.8em
		font-weight: lighter
		letter-spacing: 0.98px

	h2
		font-family: "nimbus-sans",sans-serif
		font-size: 1.2em
		font-weight: bold
		letter-spacing: 0.98px
		-webkit-font-smoothing: antialiased
		text-shadow: 1px 1px 1px shade(#292929, 50%)
	p
		font-size: 1em

.contact a
	// margin-top: -2px
	text-decoration: none
	letter-spacing: 0.91px

.title,
.sub-title
	font-family: "nimbus-sans",sans-serif
	-webkit-font-smoothing: antialiased

.project-side-header-label
	// color: #CCA166
	color: shade(#FDF8F4, 15%)
	

.title
	font-size: 6em
	line-height: 0.98em
	color: #FDF8F4
	font-weight: bold
	letter-spacing: 0.98px

.sub-title
	font-size: 2em
	// color: tint(#292929, 45%)
	// color: tint(#635636, 10%)
	color: #CFCBC9
	opacity: 0.8
	font-weight: 300


.project-side-header-label
	letter-spacing: 0.98px
	text-transform: uppercase

.footer-project-nav
	li
		list-style-type: none
		a 
			text-decoration: none


.project-content
	color: #757575
	h2
		font-size: 24px
		color: #272727
	h2,
	p
		font-weight: 300
	p
		font-size: 18px
		line-height: 1.4
		padding-right: 18px

//navigation - project


.navigation-sidebar li
	padding: 10px 0
	color: shade(#fafafa, 30%)


.footer-element
	font-weight: 300
	font-size: 24px
	// text-transform: uppercase
	letter-spacing: 1.2px
	overflow: hidden
	transition: all 0.4s ease-in-out
	a:hover
		@extend .hvr-float
		span
			opacity: 1
			transform: translateX(-50%) translateY(28px)

	a
		position: relative
		cursor: pointer
		transition: all 0.4s ease-in-out
		span
			display: block
			position: absolute
			top: 0
			font-size: 16px
			transform: translateX(-50%)
			left: 50%
			opacity: 0
			transition: all 0.4s ease-in-out
			@extend .animated

.project-label h4
	color: #d6d6d6
	font-weight: 300 !important

.intro-header
	font-size: 3em
	color: #3B3B3C
	font-weight: 300

.intro-copy
	font-size: 1.5em
	line-height: 1.8em
	color: #A4A19F 