.wholesale
	.project-title
		span
			color: #F25757
	.intro
		&-red
			color: shade(#F25757,45%)
			background-color: #F25757
			@extend .slideUp
			.project-side-header-label
				color: shade(#F25757,45%)
			h2
				color: tint(#F25757,95%)