!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Balboa Pacific Insurance – Case Study
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    / %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/css/animsition.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.balboapacific
    %section.head-section
      .container.animsition
        .header   
          .contact
            .contact-section.transition
              %a{:href => "index.html", :class=>"contact-btn animsition-link"}
                %span
                  DW
              .about-btn  
                %a{:href => "", :class => ""}
                  About Dayne-Arron Watai
              .current-events
                .ticker-wrapper
                  .ticker
                    .ticker__item 
                      Reading
                      %a{:href => "https://www.amazon.com/dp/B00IQO403K/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1", :target =>"_BLANK"}
                        Cixin Liu - The Three-Body Problem (Remembrance of Earth's Past)
                    .ticker__item
                      Listening to 
                      %a{:href => "https://soundcloud.com/workoutclub/thinkin", :target => "_BLANK"}
                        Workout Club - Thinkin'
                      Watching
                      %a{:href => "http://www.cartoonnetwork.com/video/steven-universe/", :target => "_BLANK"}
                        Steven Universe
              .social
                %a{:href => "#", :class => ""}
                  Facebook
                %a{:href => "#", :class => ""}
                  Twitter
                %a{:href => "#", :class => ""}
                  Instagram
          .project-title-block  
            .project-side-header-label
              %h4 Case Study
            .project-title  
              %h2.title
                Balboa Pacific
                %span
                  Insurance
              %h3.sub-title
                Independant Insurance Broker
    .animsition{:"data-animsition-out-class" => "fade-out-down-sm", :"data-animsition-out-duration"=>"1000"}    
      %section
        .container
          .project-side-header-label
            %h4
              Overview
          %h2.intro-header
            Insurance you can trust. 
          %p.intro-copy
            Balboa Pacific is an independent agency in the business of helping people feel secure without breaking the bank. They’ve built a reputation on trust via word of mouth.
          .project-side-header-label
            %h4
              Objective
          %h2.intro-header
            How do we convey honesty? 
          %p.intro-copy
            The objective was to explore, develop and define a brand vision for an independent insurance agency providing a learning experience for people in need of insurance.
          .project-side-header-label
            %h4
              Concept
          %h2.intro-header
            Insurance you can trust. 
          %p.intro-copy
            The Balboa Pacific identity is built from the concept of ease and trust.
          .project-side-header-label
            %h4
              Art Direction
          %h2.intro-header
            Defining Art Direction
          %p.intro-copy
            The design direction seeks to clarify the complexities of insurance, providing a clear view of what options are available to the insured.
          .project-side-header-label
            %h4
              Logo
          %h2.intro-header
            A symbol of ease
          %p.intro-copy
            Balboa Pacific is an independent agency in the business of helping people feel secure without breaking the bank. They’ve built a reputation on trust via word of mouth.
          .project-side-header-label
            %h4
              Typography
          %h2.intro-header
            Type to give a modern something
          %p.intro-copy
            Balboa Pacific is an independent agency in the business of helping people feel secure without breaking the bank. They’ve built a reputation on trust via word of mouth.
          .project-side-header-label
            %h4
              Colors
          %h2.intro-header
            Maintaining color of trust
          %p.intro-copy
            Balboa Pacific is an independent agency in the business of helping people feel secure without breaking the bank. They’ve built a reputation on trust via word of mouth.
          .project-side-header-label
            %h4
              Photography
          %h2.intro-header
            Ensuring correct photos of family and stuff
          .intro-copy
            Balboa Pacific is an independent agency in the business of helping people feel secure without breaking the bank. They’ve built a reputation on trust via word of mouth.

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "js/scripts.js"}





