!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Dayne-Arron Watai Portfolio
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %meta{:name => "pinterest", :content => "nopin"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    %link{:href => "css/carousel.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans", :rel => "stylesheet"}/
    %link{:href => "bower_components/slick-carousel/slick/slick.css", :rel => "stylesheet"}
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.retail
    %section.head-section.animsition
      .container
        .header   
          .contact
            .contact-section.transition
              %a{:href => "index.html", :class=>"contact-btn animsition-link"}
                %span
                  DW
              .about-btn  
                %a{:href => "", :class => ""}
                  About Dayne-Arron Watai
              .current-events
                .ticker-wrapper
                  .ticker
                    .ticker__item 
                      Reading
                      %a{:href => "https://www.amazon.com/dp/B00IQO403K/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1", :target =>"_BLANK"}
                        Cixin Liu - The Three-Body Problem (Remembrance of Earth's Past)
                    .ticker__item
                      Listening to 
                      %a{:href => "https://soundcloud.com/workoutclub/thinkin", :target => "_BLANK"}
                        Workout Club - Thinkin'
                    .ticker__item
                      Watching
                      %a{:href => "http://www.cartoonnetwork.com/video/steven-universe/", :target => "_BLANK"}
                        Steven Universe
              .social
                %a{:href => "#", :class => ""}
                  Facebook
                %a{:href => "#", :class => ""}
                  Twitter
                %a{:href => "#", :class => ""}
                  Instagram
          .project-title-block  
            .project-side-header-label
              %h4 Case Study
            .project-title  
              %h2.title
                Commerce Home 
                %br/
                Mortgage
                %span
                  Retail
              %h3.sub-title
                Working together to make lending mortgage approachable.
    .animsition{:"data-animsition-out-class" => "fade-out-down-sm", :"data-animsition-out-duration"=>"1000", :"data-animsition-in-class" => "fade-in-up-sm", :"data-animsition-out-duration"=>"500"}  
      %article.project-wrapper 
        .project-content.project-content-sm.navigation-sidebar
          %ul
            %li
              Website
            %li
              Portal
            %li
              Recruiting
            %li
              Personal Pages
            %li
              Marketing Materials
        .project-content.project-content-lg
          .carousel
            %img{:src => "img/retail/welcome.jpg", :alt => ""}/
            %img{:src => "img/retail/location.png", :alt => ""}/
            %img{:src => "img/retail/los.png", :alt => ""}/
        .project-content.project-content-md.project-summary#summary1 
          .project-side-header-label
            %h4
              Overview
          %h2
            Buying a home is a complex and emotional experience that can be difficult to tackle. 
          %p
            Headquartered in San Ramon, California and originally founded in 1994 by Simonich Corporation and Bank of Walnut Creek, Commerce Home Mortgage aspires to simplify the application process for potential clients, streamlining  recruitment, and providing those employees with the right tools needed to thrive.
      %article.project-wrapper 
        .project-content.project-content-xl
          .carousel-slides
            %img{:src => "img/retail/website/website-01.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-02.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-03.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-04.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-05.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-06.jpg", :alt => ""}/
      %article.project-wrapper 
        .project-content.project-content-sm
          &nbsp;   
        .project-content.project-content-md.project-summary#summary2 
          .project-side-header-label
            %h4
              Overview
          %h2
            Buying a home is a complex and emotional experience that can be difficult to tackle. 
          %p
            Headquartered in San Ramon, California and originally founded in 1994 by Simonich Corporation and Bank of Walnut Creek, Commerce Home Mortgage aspires to simplify the application process for potential clients, streamlining  recruitment, and providing those employees with the right tools needed to thrive. 
        .project-content.project-content-lg
          .carousel
            %img{:src => "img/retail/flyers.png", :alt => ""}/
            %img{:src => "img/retail/presentations.png", :alt => ""}/
            %img{:src => "img/retail/resources-01.png", :alt => ""}/
            %img{:src => "img/retail/resources-02.png", :alt => ""}/
      %article.project-wrapper 
        .project-content.project-content-xl
          .carousel-slides
            %img{:src => "img/retail/website/website-01.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-02.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-03.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-04.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-05.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-06.jpg", :alt => ""}/
        .project-content.project-content-sm
          &nbsp;
        .project-content.project-content-lg
          .carousel
            %img{:src => "img/retail/recruiting-01.png", :alt => ""}/
            %img{:src => "img/retail/recruiting-02.png", :alt => ""}/
            %img{:src => "img/retail/recruiting-03.png", :alt => ""}/
        .project-content.project-content-md.project-summary#summary1 
          .project-side-header-label
            %h4
              Overview
          %h2
            Buying a home is a complex and emotional experience that can be difficult to tackle. 
          %p
            Headquartered in San Ramon, California and originally founded in 1994 by Simonich Corporation and Bank of Walnut Creek, Commerce Home Mortgage aspires to simplify the application process for potential clients, streamlining  recruitment, and providing those employees with the right tools needed to thrive.
      %article.project-wrapper 
        .project-content.project-content-xl
          .carousel-slides
            %img{:src => "img/retail/website/website-01.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-02.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-03.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-04.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-05.jpg", :alt => ""}/
            %img{:src => "img/retail/website/website-06.jpg", :alt => ""}/
      %article.project-wrapper 
        .project-content.project-content-sm
          &nbsp;   
        .project-content.project-content-md.project-summary#summary2 
          .project-side-header-label
            %h4
              Overview
          %h2
            Buying a home is a complex and emotional experience that can be difficult to tackle. 
          %p
            Headquartered in San Ramon, California and originally founded in 1994 by Simonich Corporation and Bank of Walnut Creek, Commerce Home Mortgage aspires to simplify the application process for potential clients, streamlining  recruitment, and providing those employees with the right tools needed to thrive. 
        .project-content.project-content-lg
          %img{:src => "img/retail/personal.png", :alt => ""}/
        .footer
          &nbsp;
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "bower_components/slick-carousel/slick/slick.js"}
    %script{:src => "bower_components/ScrollToFixed/jquery-scrolltofixed.js"}
    %script{:src => "bower_components/waypoints/lib/jquery.waypoints.js"}
    %script{:src => "js/scripts.js"}
    :javascript
      $(document).ready(function(){

        $('.carousel').slick({
          dots: false,
          infinite: true,
          speed: 300,
          slidesToShow: 1,
          centerMode: false,
          arrows: false,
          autoplay: false,
          fade: true,
          cssEase: 'linear'
        });

        $('.carousel-slides').slick({
          dots: false,
          infinite: true,
          speed: 300,
          slidesToShow: 2,
          centerMode: false,
          arrows: false,
          autoplay: false
        });
        
        
        $('.navigation-sidebar').scrollToFixed({
          marginTop: 200
        });

        var waypoint = new Waypoint({
          element: document.getElementById('summary1'),
          handler: function(direction) {
            console.log('Scrolled to waypoint!')
          }
        });
      });

