!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Dayne-Arron Watai Portfolio
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    / %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/css/animsition.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.retail
    .border-top.frame
    .border-right.frame
    .border-bottom.frame
    .border-left.frame
    %section.head-section
      .container.animsition
        .header   
          .contact
            .contact-section.transition
              %a{:href => "index.html", :class=>"contact-btn animsition-link"}
                %span
                  DW
              .about-btn  
                %a{:href => "", :class => ""}
                  About Dayne-Arron Watai
              .current-events
                .ticker-wrapper
                  .ticker
                    .ticker__item 
                      Reading
                      %a{:href => "https://www.amazon.com/dp/B00IQO403K/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1", :target =>"_BLANK"}
                        Cixin Liu - The Three-Body Problem (Remembrance of Earth's Past)
                    .ticker__item
                      Listening to 
                      %a{:href => "https://soundcloud.com/workoutclub/thinkin", :target => "_BLANK"}
                        Workout Club - Thinkin'
                    .ticker__item
                      Watching
                      %a{:href => "http://www.cartoonnetwork.com/video/steven-universe/", :target => "_BLANK"}
                        Steven Universe
              .social
                %a{:href => "#", :class => ""}
                  Facebook
                %a{:href => "#", :class => ""}
                  Twitter
                %a{:href => "#", :class => ""}
                  Instagram
          .project-title-block  
            .project-side-header-label
              %h4 Case Study
            .project-title  
              %h2.title
                Commerce Home 
                %br/
                Mortgage
                %span
                  Retail
              %h3.sub-title
                Working together to make lending mortgage approachable.
    .animsition{:"data-animsition-out-class" => "fade-out-down-sm", :"data-animsition-out-duration"=>"1000"}  
      %section.intro.intro-blue
        .container
          .project-side-header-label
            %h4
              Overview
          .left-column
            %h2.intro-header
              Buying a home is a complex and emotional experience that can be difficult to tackle. 
            %p.intro-copy
              Headquartered in San Ramon, California and originally founded in 1994 by Simonich Corporation and Bank of Walnut Creek, Commerce Home Mortgage aspires to simplify the application process for potential clients, streamlining  recruitment, and providing those employees with the right tools needed to thrive.
    %section.intro
      .container
        .left-column 
        .right-column 
          %h2
            The first step was to get everyone on the same page by clearly defining the problem.
          %ul.intro-copy-list
            %li
              How do we make the complexities of mortgages easily understandable?
            %li
              How can we streamline the day-to-day workflow of mortgage and loan officers, to reinforce the reliability and care of Commerce Home Mortgage?
            %li
              How do we emphasize the diverse culture at Commerce Home Mortgage?
    %section.intro.intro-blue
      .container
        .left-column  
          .project-side-header-label
            %h4
              Roles 
            %p.intro-copy
              My position included switching contexts between UI designer, UX researcher, visual designer, front end developer, performing marketing research, as well as managing the company’s social media presence. 
              / %br/
              / %br/
              / With team members working remotely, living on different coasts—and even different countries—we communicated with each other effectively through Google Hangouts, Skype, email. We tracked our progress and organized tasks with Trello and a project tracker developed in-house.
        .right-column
    .noise
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "js/scripts.js"}





