!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Dayne-Arron Watai Portfolio
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    / %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/css/animsition.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.retail
    .border-top.frame
    .border-right.frame
    .border-bottom.frame
    .border-left.frame
    %section.head-section
      .container.animsition
        .header   
          .contact
            .contact-section.transition
              %a{:href => "index.html", :class=>"contact-btn animsition-link"}
                %span
                  DW
              .about-btn  
                %a{:href => "", :class => ""}
                  About Dayne-Arron Watai
              .current-events
                .ticker-wrapper
                  .ticker
                    .ticker__item 
                      Reading
                      %a{:href => "https://www.amazon.com/dp/B00IQO403K/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1", :target =>"_BLANK"}
                        Cixin Liu - The Three-Body Problem (Remembrance of Earth's Past)
                    .ticker__item
                      Listening to 
                      %a{:href => "https://soundcloud.com/workoutclub/thinkin", :target => "_BLANK"}
                        Workout Club - Thinkin'
                    .ticker__item
                      Watching
                      %a{:href => "http://www.cartoonnetwork.com/video/steven-universe/", :target => "_BLANK"}
                        Steven Universe
              .social
                %a{:href => "#", :class => ""}
                  Facebook
                %a{:href => "#", :class => ""}
                  Twitter
                %a{:href => "#", :class => ""}
                  Instagram
          .project-title-block  
            .project-side-header-label
              %h4 Case Study
            .project-title  
              %h2.title
                Commerce Home 
                %br/
                Mortgage
                %span
                  Retail
              %h3.sub-title
                Working together to make lending mortgage approachable.
    .animsition{:"data-animsition-out-class" => "fade-out-down-sm", :"data-animsition-out-duration"=>"1000"}  
      %section.intro.intro-blue
        .container
          .project-side-header-label
            %h4
              Overview
          .left-column
            %h2.intro-header
              Buying a home is a complex and emotional experience that can be difficult to tackle. 
            %p.intro-copy
              Headquartered in San Ramon, California and originally founded in 1994 by Simonich Corporation and Bank of Walnut Creek, Commerce Home Mortgage aspires to simplify the application process for potential clients, streamlining  recruitment, and providing those employees with the right tools needed to thrive.
      %section.intro.section-white
        .container
          .left-column
          .right-column 
            .project-side-header-label
              %h4
                The Challenge             
            %h2
              The first step was to get everyone on the same page by clearly defining the problem.
            %ul.intro-copy-list
              %li
                %strong How do we 
                make the complexities of mortgages easily understandable?
              %li
                %strong How could we 
                streamline the day-to-day workflow of mortgage and loan officers, to reinforce the reliability and care of Commerce Home Mortgage?
              %li
                %strong How would we 
                go about emphasizing the diverse culture at Commerce Home Mortgage?
      %section.intro.intro-blue
        .container
          .left-column  
            .project-side-header-label
              %h4
                Roles 
            %h2.intro-header
              My position included switching contexts between UI designer, UX researcher, visual designer, and front end developer.
            %p.intro-copy
              I also performed marketing research, as well as managing the company’s social media presence. With each of us playing multiple roles, communication was vital for progress; decisions needed to be conveyed to everyone constantly.
            %p.intro-copy
              With team members working remotely, living on different coasts—and even different countries—we communicated with each other effectively through Google Hangouts, Skype and email. We tracked our progress and organized tasks with Trello and a project tracker developed in-house. 
          .right-column
      %section.intro.section-white
        .container
          .left-column
          .right-column
            .project-side-header-label
              %h4
                The Process 
            %h2.intro-header
              Creating a solid foundation 
              %br
              by way of immersion
            %p.intro-copy
              Because our team comprised mostly of external vendors and contractors, the best way to get started was to immerse ourselves to better understand the mortgage process. Interviews with the marketing team had a wealth of information for us, but to get to the core we shadowed the day-to-day workflow of a loan officer—the main point of contact for anyone seeking a loan.
            %p.intro-copy
              %strong Foundational Research:
            %ul.intro-copy-list
              %li 
                %strong Identify key project stakeholders: 
                the company, the loan officer, the client
              %li 
                %strong Interview loan officers 
                about their day-to-day workflow and interactions with current clients and potential clients.
              %li 
                %strong Map out 
                the full mortgage application process.
              %li 
                %strong Interview 
                to existing and potential clients  about their current experience.
      %section.intro.intro-blue
        .container
          .left-column
            .project-side-header-label
              %h4
                Interviews
            %h2.intro-header
              Getting real insight
            %p.intro-copy
              We sat down with 3 loan officers and interviewed them about key aspects of their workflow and client interactions. 
            %ul.intro-copy-list
              %li
                Lead generation
              %li
                Client goals and values
              %li
                Frequently asked client questions
              %li
                Communication
              %li
                Pain points in existing system
              %li
                General feedback
          .right-column 
      %section.intro.section-white
        .container
          .left-column
            .project-side-header-label
              %h4
                Interviews II
            %h2.intro-header
              Proto personas
            %p.intro-copy
              After the loan officer interviews were complete, my team decided to get another important perspective: 
              %strong 
                the borrower’s. 
            %p.intro-copy
              Regulations and privacy concerns prevented us from contacting any borrowers directly; luckily, some of the Commerce Home Mortgage staff had gone through Commerce for a loan so we were able to use them as a proto persona with the understanding it may not exactly map to the casual applicant.
            %p.intro-copy
              We interviewed them about their experience the company’s current process. We wanted to know what frustrated them, but also what delighted them.
          .right-column 
      %section.intro.intro-blue
        .container
          .left-column
          .right-column 
            .project-side-header-label
              %h4
                Market research
            %h2.intro-header
              Utilizing social media to gather qualitative research
            %p.intro-copy
              Our next step was to  review sites such as Yelp, LinkedIn, Facebook and Instagram, searching for positive and negative reviews of Commerce Home Mortgage and also of its competitors.
      %section.intro.section-white
        .container
          .left-column
            .project-side-header-label
              %h4
                Ideation
            %h2.intro-header
              Organizing a plan of action
            %p.intro-copy    
              When our foundational research was complete, I organized the information identifying the biggest pain-points in addition to what was working well in the current system. 
            %p.intro-copy 
              As the team synthesized our data, we found several key areas that needed to be improved: visibility of loan officers to new leads, communication between the clients and officers, and simplifying information that borrowers frequently requested. 
            %p.intro-copy 
              The organization also lacked an effective way to recruit new top talent.
          .right-column 
      %section.intro.intro-blue
        .container
          .left-column
          .right-column 
            .project-side-header-label
              %h4
                The solution
            %h2.intro-header
              Putting the pieces together to find a better solution
            %p.intro-copy 
              After our analysis, we broke the project into several pieces: a refreshed client facing website, a brand new communication and marketing tool for loan officers, and a separate recruiting website to draw in more talent. 
            %p.intro-copy 
              We began with the biggest requirement: giving the website an overhaul that would make it easier for existing and future clients to use. We broke down the mortgage process into smaller digestible bites, quickly iterating through several versions of user flows and wireframes. 
            %p.intro-copy 
              We continuously vetted prototypes with Commerce Home Mortgage loan officers, the marketing team, and several other employees in the multiple different departments. Our final design showcases the loan officer, and the culture at Commerce Home Mortgage with a refreshed brand that’s friendly and accessible. 
      %section.intro
        .container
          .project-side-header-label
            %h4
              Self Reflection
          %h2.intro-header 
            Challenges & Solutions
          %p.intro-copy 
            The different time zones and the lack of in-person meetings Lead to a decline in productivity. If one team member had a question then they would have to wait until the next day to get a response. To tackle this, we convinced our project manager at Commerce Home Mortgage to use Trello as a project management tool to delegate all design and testing tasks as these were being delivered through emails. This gave us the ability to track project progress on a distributed team, making it easier for one of us to pick up where another had left off. We also segregated all development feedback into a separate issue-tracker; this helped manage the delegation of front-end and back end tasks and set expectations for when tasks could be completed.
          %p.intro-copy 
            Issue tracking, version control, and communication tools, such as slack, are all tools that enhance a team environment.  
      %section
        .container
          %ul.footer-project-nav
            %li.project-thmb
              %a{:href => "CHMRetail.html", :class => "animsition-link"}
                %span.type
                  Case Study
                %h2
                  Commerce Home Mortgage Retail
                %p
                  Working together to make lending mortgage approachable.
                .arrow
                  %p
                    View Project
                  %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                    %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}
            %li.project-thmb
              %a{:href => "CHMWholesale.html", :class => "animsition-link"}
                %span.type
                  Case Study
                %h2
                  Commerce Home Mortgage Wholesale
                %p
                  Wholesale lending made simple, personal, and quick.
                .arrow
                  %p
                    View Project
                  %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                    %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}
            %li.project-thmb
              %a{:href => "BalboaPacific.html", :class => "animsition-link"}
                %span.type
                  Case Study
                %h2
                  Balboa Pacific Insurance
                %p
                  Independant Insurance Broker
                .arrow
                  %p
                    View Project
                  %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                    %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}
            %li.project-thmb
              %a{:href => "modemedia.html", :class => "animsition-link"}
                %span.type
                  Project
                %h2
                  Mode Media
                %p
                  Vertical marketing & content curation platform. 
                .arrow
                  %p
                    View Project
                  %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                    %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}
            %li.project-thmb
              %a{:href => "mnmlfun.html", :class => "animsition-link"}
                %span.type
                  Project
                %h2
                  MNML:FUN
                %p
                  Branding and collateral for local techno party.
                .arrow
                  %p
                    View Project
                  %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                    %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}
            %li.project-thmb
              %a{:href => "photography.html", :class => "animsition-link"}
                %span.type
                  Side Project
                %h2
                  Photography
                %p
                  Editorial, Publications and Portraits by me.
                .arrow
                  %p
                    View Project
                  %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                    %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}                          
    .noise
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "js/scripts.js"}





