!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Dayne-Arron Watai Portfolio
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    / %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/css/animsition.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.welcome
    .border-top.frame
    .border-right.frame
    -# .border-bottom.frame
    .border-left.frame
    .project-side-label
      %h4.transition Selected Works 
    .container.welcome.animsition
      .header   
        %nav        
          %h1.logo.transition
            %a{:href => "index.html", :class => "animsition-link"}
              DAW
        .contact
          %a{:href => "", :class=>"transition"}
            Create With Me
            .line
              &nbsp;
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "js/scripts.js"}





