!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Dayne-Arron Watai Portfolio
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %meta{:name => "pinterest", :content => "nopin"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/carousel.css", :rel => "stylesheet"}/
    %script{:src => "https://use.typekit.net/mlp8vur.js"}
      :javascript
        try{Typekit.load({ async: true });}catch(e){}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css", :rel => "stylesheet"}
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.retail
    %section.head-section.animsition#slide01.slide
      .bcg
      .container
        .header   
          .contact
            .contact-section.transition
              %a{:href => "index.html", :class=>"contact-btn animsition-link"}
                %span
                  DW
              .about-btn  
                %a{:href => "", :class => ""}
                  About Dayne-Arron Watai
              .current-events
                .ticker-wrapper
                  .ticker
                    .ticker__item 
                      Reading
                      %a{:href => "https://www.amazon.com/dp/B00IQO403K/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1", :target =>"_BLANK"}
                        Cixin Liu - The Three-Body Problem (Remembrance of Earth's Past)
                    .ticker__item
                      Listening to 
                      %a{:href => "https://soundcloud.com/workoutclub/thinkin", :target => "_BLANK"}
                        Workout Club - Thinkin'
                    .ticker__item
                      Watching
                      %a{:href => "http://www.cartoonnetwork.com/video/steven-universe/", :target => "_BLANK"}
                        Steven Universe
              .social
                %a{:href => "#", :class => ""}
                  Facebook
                %a{:href => "#", :class => ""}
                  Twitter
                %a{:href => "#", :class => ""}
                  Instagram
          .project-title-block  
            .project-side-header-label
              %h4 Case Study
            .project-title  
              %h2.title
                Commerce Home 
                %br/
                Mortgage
                %span
                  Retail
              %h3.sub-title
                Working together to make lending mortgage approachable.
    .animsition{:"data-animsition-out-class" => "fade-out-down-sm", :"data-animsition-out-duration"=>"1000", :"data-animsition-in-class" => "fade-in-up-sm", :"data-animsition-out-duration"=>"500"}  
      %section
        .projects 
          .project-well
            .project-article
              .project-description
                .project-side-header-label
                  %h4
                    Overview
                %h2.intro-header
                  Commerce Home Mortgage Wholesale values new perspectives and creative ideas
                %p.intro-copy
                  Commerce Home Mortgage Wholesale aspires to treat wholesale lending with a start-up mentality, by constantly re-evaluating antiquated processes full of red tape and rigid structure that slows down big banks, bringing fresh new ideas and experiences to their clients.
              .carousel.content-carousel
                .slide
                  %img{:src => "img/retail/welcome.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/location.png", :alt => ""}/
                .slide
                  %img{:src => "img/retail/los.png", :alt => ""}/
              .carousel-slides.content-carousel
                .slide  
                  %img{:src => "img/retail/website/website-01.jpg", :alt => ""}/
                .slide  
                  %img{:src => "img/retail/website/website-02.jpg", :alt => ""}/
                .slide  
                  %img{:src => "img/retail/website/website-03.jpg", :alt => ""}/
                .slide  
                  %img{:src => "img/retail/website/website-04.jpg", :alt => ""}/
                .slide  
                  %img{:src => "img/retail/website/website-05.jpg", :alt => ""}/
                .slide  
                  %img{:src => "img/retail/website/website-06.jpg", :alt => ""}/
                .slide  
                  %img{:src => "img/retail/website/website-07.jpg", :alt => ""}/
              .carousel-slides.content-carousel
                .slide  
                  %img{:src => "img/retail_mobile_01.png", :alt => ""}/
                .slide  
                  %img{:src => "img/retail_mobile_02.png", :alt => ""}/
                .slide  
                  %img{:src => "img/retail_mobile_03.png", :alt => ""}/
                .slide  
                  %img{:src => "img/retail_mobile_04.png", :alt => ""}/
            .project-article
              .project-description
                .project-side-header-label
                  %h4
                    Overview
                %h2.intro-header
                  Commerce Home Mortgage Wholesale values new perspectives and creative ideas
                %p.intro-copy
                  Commerce Home Mortgage Wholesale aspires to treat wholesale lending with a start-up mentality, by constantly re-evaluating antiquated processes full of red tape and rigid structure that slows down big banks, bringing fresh new ideas and experiences to their clients.
              .carousel.content-carousel
                .slide
                  %img{:src => "img/retail/flyers.png", :alt => ""}/
                .slide
                  %img{:src => "img/retail/presentations.png", :alt => ""}/
                .slide
                  %img{:src => "img/retail/resources-01.png", :alt => ""}/
                .slide
                  %img{:src => "img/retail/resources-02.png", :alt => ""}/
            .project-article
              .project-description
                .project-side-header-label
                  %h4
                    Overview
                %h2.intro-header
                  Commerce Home Mortgage Wholesale values new perspectives and creative ideas
                %p.intro-copy
                  Commerce Home Mortgage Wholesale aspires to treat wholesale lending with a start-up mentality, by constantly re-evaluating antiquated processes full of red tape and rigid structure that slows down big banks, bringing fresh new ideas and experiences to their clients.
              .carousel-slides.content-carousel
                .slide
                  %img{:src => "img/retail/portal/website-01.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/portal/website-02.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/portal/website-03.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/portal/website-04.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/portal/website-05.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/portal/website-06.jpg", :alt => ""}/
            .project-article
              .project-description
                .project-side-header-label
                  %h4
                    Overview
                %h2.intro-header
                  Commerce Home Mortgage Wholesale values new perspectives and creative ideas
                %p.intro-copy
                  Commerce Home Mortgage Wholesale aspires to treat wholesale lending with a start-up mentality, by constantly re-evaluating antiquated processes full of red tape and rigid structure that slows down big banks, bringing fresh new ideas and experiences to their clients.
              .carousel.content-carousel
                .slide
                  %img{:src => "img/retail/recruiting-01.png", :alt => ""}/
                .slide
                  %img{:src => "img/retail/recruiting-02.png", :alt => ""}/
                .slide
                  %img{:src => "img/retail/recruiting-03.png", :alt => ""}/
            .project-article
              .project-description
                .project-side-header-label
                  %h4
                    Overview
                %h2.intro-header
                  Commerce Home Mortgage Wholesale values new perspectives and creative ideas
                %p.intro-copy
                  Commerce Home Mortgage Wholesale aspires to treat wholesale lending with a start-up mentality, by constantly re-evaluating antiquated processes full of red tape and rigid structure that slows down big banks, bringing fresh new ideas and experiences to their clients.
              .carousel-slides.content-carousel
                .slide
                  %img{:src => "img/retail/recruiting/website-01.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/recruiting/website-02.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/recruiting/website-03.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/recruiting/website-04.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/recruiting/website-05.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/recruiting/website-06.jpg", :alt => ""}/

            .project-article
              .project-description
                .project-side-header-label
                  %h4
                    Overview
                %h2.intro-header
                  Commerce Home Mortgage Wholesale values new perspectives and creative ideas
                %p.intro-copy
                  Commerce Home Mortgage Wholesale aspires to treat wholesale lending with a start-up mentality, by constantly re-evaluating antiquated processes full of red tape and rigid structure that slows down big banks, bringing fresh new ideas and experiences to their clients.
              .carousel.content-carousel
                .slide
                  %img{:src => "img/retail/personal.png", :alt => ""}/
                .slide
                  %img{:src => "img/retail/personal.png", :alt => ""}/
            .project-article
              .project-description
                .project-side-header-label
                  %h4
                    Overview
                %h2.intro-header
                  Commerce Home Mortgage Wholesale values new perspectives and creative ideas
                %p.intro-copy
                  Commerce Home Mortgage Wholesale aspires to treat wholesale lending with a start-up mentality, by constantly re-evaluating antiquated processes full of red tape and rigid structure that slows down big banks, bringing fresh new ideas and experiences to their clients.
              .carousel-slides.content-carousel
                .slide
                  %img{:src => "img/retail/flyers/Reverse.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/flyers/complicated.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/flyers/10Myths.jpg", :alt => ""}/
                .slide
                  %img{:src => "img/retail/flyers/TRID.jpg", :alt => ""}/ 
            .project-article
              .project-description
                .project-side-header-label
                  %h4
                    Overview
                %h2.intro-header
                  Commerce Home Mortgage Wholesale values new perspectives and creative ideas
                %p.intro-copy
                  Commerce Home Mortgage Wholesale aspires to treat wholesale lending with a start-up mentality, by constantly re-evaluating antiquated processes full of red tape and rigid structure that slows down big banks, bringing fresh new ideas and experiences to their clients.
              .carousel-slides.content-carousel
                .slide
                  %img{:src => "img/retail/emails/email3.png", :alt => ""}/
                .slide
                  %img{:src => "img/retail/emails/email1.png", :alt => ""}/
                .slide
                  %img{:src => "img/retail/emails/email2.png", :alt => ""}/      
        .footer.footer-retail
          .footer-element.contact-me
            %a
              Contact Me
          .footer-element.next-project
            %a{:href => "CHMWholesale.html", :class => "animsition-link"}
              Commerce Home Mortgage Wholesale
              %span
                Case Study
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/ScrollToFixed/1.0.8/jquery-scrolltofixed.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/jquery.gsap.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"}
    %script{:src => "js/scripts.js"}
    :javascript
      
      $(document).ready(function(){

        $('.carousel').slick({
          dots: false,
          infinite: true,
          speed: 300,
          slidesToShow: 1,
          centerMode: false,
          arrows: true,
          autoplay: false,
          fade: true,
          cssEase: 'linear'
        });

        $('.carousel-slides').slick({
          dots: false,
          infinite: true,
          speed: 300,
          slidesToShow: 2,
          centerMode: false,
          arrows: true,
          nextArrow: '<span class="next-btn"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg></div>',
          autoplay: false
        });

      });

