!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Commerce Home Mortgage Wholesale - Case Study 
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    / %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/css/animsition.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.wholesale
    .border-top.frame
    .border-right.frame
    .border-bottom.frame
    .border-left.frame
    %section.head-section
      .container.animsition
        .header   
          .contact
            .contact-section.transition
              %a{:href => "index.html", :class=>"contact-btn animsition-link"}
                %span
                  DW
              .about-btn  
                %a{:href => "", :class => ""}
                  About Dayne-Arron Watai
              .current-events
                .ticker-wrapper
                  .ticker
                    .ticker__item 
                      Reading
                      %a{:href => "https://www.amazon.com/dp/B00IQO403K/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1", :target =>"_BLANK"}
                        Cixin Liu - The Three-Body Problem (Remembrance of Earth's Past)
                    .ticker__item
                      Listening to 
                      %a{:href => "https://soundcloud.com/workoutclub/thinkin", :target => "_BLANK"}
                        Workout Club - Thinkin'
                    .ticker__item
                      Watching
                      %a{:href => "http://www.cartoonnetwork.com/video/steven-universe/", :target => "_BLANK"}
                        Steven Universe
              .social
                %a{:href => "#", :class => ""}
                  Facebook
                %a{:href => "#", :class => ""}
                  Twitter
                %a{:href => "#", :class => ""}
                  Instagram
          .project-title-block  
            .project-side-header-label
              %h4 Case Study
            .project-title  
              %h2.title
                Commerce Home 
                %br/
                Mortgage
                %span
                  Wholesale
              %h3.sub-title
                Wholesale lending made simple, personal, and quick.
    .animsition{:"data-animsition-out-class" => "fade-out-down-sm", :"data-animsition-out-duration"=>"1000"}    
      %section.intro.intro-red
        .container.animsition
          .project-side-header-label
            %h4
              Overview
          .left-column
            %h2.intro-header
              Commerce Home Mortgage Wholesale values new perspectives and creative ideas
            %p.intro-copy
              Commerce Home Mortgage Wholesale aspires to treat wholesale lending with a start-up mentality, by constantly re-evaluating antiquated processes full of red tape and rigid structure that slows down big banks, bringing fresh new ideas and experiences to their clients.
      %section.intro.section-white
        .container
          .left-column
          .right-column
            .project-side-header-label 
              %h4
                The Challenge 
            %h2
              Commerce Home Mortgage Wholesale knew what they wanted, but how:
            %ul.intro-copy-list
              %li
                %p
                  %strong
                    Refresh 
                  current branding.
              %li  
                %p
                  %strong
                    Optimize 
                  day-to-day workflow of key employees.
              %li  
                %p
                  %strong
                    Strategize 
                  ways to increase lead acquisition. 
      %section.intro.intro-red
        .container
          .left-column
            .project-side-header-label 
              %h4
                Roles
            %h2.intro-header
              Maintaining a great workflow
            %p.intro-copy
              As a group, having worked on the parent company Commerce Home Mortgage Retail, we maintained our original functions. 
            %p.intro-copy
              Once again, I switched contexts between UI designer, UX researcher, visual designer, front end developer, performing marketing research, as well as managing the company’s social media presence in tandem with the lead designer, Robin.                
          .right-column
      %section.intro.section-white
        .container
          .left-column
          .right-column
            .project-side-header-label 
              %h4
                The Process 
            %h2.intro-header
              Divide and Conquer
            %p.intro-copy
              We got started by assigning tasks based on individual strengths. I began with interviewing and shadowing primary stakeholders seeking qualitative data on the current procedures to identify pain points and exploring possible solutions.
      %section.intro.section-white
        .container
          .left-column  
            .project-side-header-label 
              %h4
                Field research
            %h2.intro-header
              What I learned
        .container
          .md-copy  
            %ul.intro-copy-list.intro-copy-list-quad     
              %li  
                %strong 
                  Broker Forms: 
                %p
                  The lengthiest part of a brokers day-to-day is completing a Broker Agreement Package, a document containing all the necessary forms needed to move forward on submitting a loan. This could take 35 minutes to an hour to complete.

              %li  
                %strong 
                  Turn times: 
                %p
                  Normally a broker would need to reach out to several different sources to get the turn-around times for specific functions. 

              %li  
                %strong 
                  Rate-Sheets: 
                %p
                  Brokers rely on excel documents to find the most suitable Loan Program for their client, because these are excel documents that need to be updated daily it became a nightmare for version control plus they can be quite lengthy.
              %li  
                %strong 
                  Marketing Materials: 
                %p 
                  Per information obtained through the marketing VP, we found email and print campaigns have helped generate millions in originated loans but the process of creating customized collateral was inconvenient. 
      %section.intro.intro-red
        .container
          .left-column
            .project-side-header-label 
              %h4
                Data Analysis
            %h2.intro-header
              Strategy
            %p.intro-copy
              Upon going through the collected interviews and with notes from the VP of marketing, we found the following to be the best strategy: 
            .md-copy  
              %ul.intro-copy-list
                %li
                  %p
                    %strong    
                      Define 
                    Commerce Home Mortgage Wholesale Branding System.
                %li
                  %p
                    %strong    
                      Create 
                    Internal dashboard to provide Area Sales Managers with branded marketing materials.
                %li
                  %p
                    %strong    
                      Strategize
                    New ways to generate leads for CA expansion (SF, Marin, LA, Peninsula). 
                %li
                  %p
                    %strong    
                      Overhaul 
                    Client/internal facing web apps to reflect new processes and branding.
                %li
                  %p
                    %strong    
                      Shore up 
                    Social media strategy including policies for AEs regarding their own social media with respect to Compliance in order to maintain brand consistency throughout.
                %li
                  %p
                    %strong    
                      Optimize
                    Day-to-day workflow of  AE’s and Area Sales Managers to enhance client experience.
      %section.intro.section-white
        .container
          .left-column  
            .project-side-header-label 
              %h4
                Iterations
            %h2.intro-header
              What I learned  
            %p.intro-copy  
              We set the project in bi-weekly design sprints, creating user flows and UI sketches. We met with Commerce Home Mortgage’s VP of marketing for feedback, followed by technical checkups with our developers after each meeting.    
    .noise
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "js/scripts.js"}





