!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Dayne-Arron Watai Portfolio
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    / %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/css/animsition.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.welcome
    -# .border-top.frame
    -# .border-right.frame
    -# .border-bottom.frame
    -# .border-left.frame
    / .project-side-label
    /   %h4.transition Selected Works 
    .container.welcome.animsition
      .header   
        -# %nav        
        -#   %h1.logo.transition
        -#     DAW
        .contact
          .contact-section.transition
            %a{:href => "index.html", :class=>"contact-btn"}
              %span
                DW
            .about-btn  
              %a{:href => "", :class => ""}
                About Dayne-Arron Watai
            .current-events
              .ticker-wrapper
                .ticker
                  .ticker__item 
                    Reading
                    %a{:href => "https://www.amazon.com/dp/B00IQO403K/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1", :target =>"_BLANK"}
                      Cixin Liu - The Three-Body Problem (Remembrance of Earth's Past)
                  .ticker__item
                    Listening to 
                    %a{:href => "https://soundcloud.com/ylxr/glamorous", :target => "_BLANK"}
                      ylxr - Glamorous
                  .ticker__item
                    Watching
                    %a{:href => "http://www.cartoonnetwork.com/video/steven-universe/", :target => "_BLANK"}
                      Steven Universe
            .social
              %a{:href => "#", :class => ""}
                Facebook
              %a{:href => "#", :class => ""}
                Twitter
              %a{:href => "#", :class => ""}
                Instagram
      %ul.project-thumb-container
        %li.project-thmb.project-thmb-01{:"data-ul-class"=>"blue"}
          %a{:href => "CHMRetail.html", :class => "animsition-link"}
            %span.type
              Case Study
            %h2
              Commerce Home Mortgage Retail
            %p
              Working together to make lending mortgage approachable.
            .arrow
              %p
                View Project
              %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}

        %li.project-thmb.project-thmb-02{:"data-ul-class"=>"red"}
          %a{:href => "CHMWholesale.html", :class => "animsition-link"}
            %span.type
              Case Study
            %h2
              Commerce Home Mortgage Wholesale
            %p
              Wholesale lending made simple, personal, and quick.
            .arrow
              %p
                View Project
              %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}

        %li.project-thmb.project-thmb-03{:"data-ul-class"=>"teal"}
          %a{:href => "BalboaPacific.html", :class => "animsition-link"}
            %span.type
              Case Study
            %h2
              Balboa Pacific Insurance
            %p
              Independant Insurance Broker
            .arrow
              %p
                View Project
              %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}

        %li.project-thmb.project-thmb-04{:"data-ul-class"=>"gray"}
          %a{:href => "modemedia.html", :class => "animsition-link"}
            %span.type
              Project
            %h2
              Mode Media
            %p
              Vertical marketing & content curation platform. 
            .arrow
              %p
                View Project
              %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}

        %li.project-thmb.project-thmb-05{:"data-ul-class"=>"yellow"}
          %a{:href => "mnmlfun.html", :class => "animsition-link"}
            %span.type
              Project
            %h2
              MNML:FUN
            %p
              Branding and collateral for local techno party.
            .arrow
              %p
                View Project
              %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}

        %li.project-thmb.project-thmb-06{:"data-ul-class"=>"white"}
          %a{:href => "photography.html", :class => "animsition-link"}
            %span.type
              Side Project
            %h2
              Photography
            %p
              Editorial, Publications and Portraits by me.
            .arrow
              %p
                View Project
              %svg{:height => "7.1", :viewbox => "0 0 12.7 7.1", :width => "12.7"}
                %polyline{:fill => "none", :points => "12.4,0.4 6.4,6.4 0.4,0.4 ", :stroke => "#FFFFFF", "stroke-miterlimit" => "10"}

        %li.project-thmb.bg
          &nbsp;
    -# .noise
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "js/scripts.js"}





