!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Dayne-Arron Watai Photography Portfolio
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.photography
    .border-top.frame
    .border-right.frame
    .border-bottom.frame
    .border-left.frame
    %section.head-section
      .container.animsition
        .header   
          .contact
            .contact-section.transition
              %a{:href => "index.html", :class=>"contact-btn animsition-link"}
                %span
                  DW
              .about-btn  
                %a{:href => "", :class => ""}
                  About Dayne-Arron Watai
              .current-events
                .ticker-wrapper
                  .ticker
                    .ticker__item 
                      Reading
                      %a{:href => "https://www.amazon.com/dp/B00IQO403K/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1", :target =>"_BLANK"}
                        Cixin Liu - The Three-Body Problem (Remembrance of Earth's Past)
                    .ticker__item
                      Listening to 
                      %a{:href => "https://soundcloud.com/workoutclub/thinkin", :target => "_BLANK"}
                        Workout Club - Thinkin'
                    .ticker__item
                      Watching
                      %a{:href => "http://www.cartoonnetwork.com/video/steven-universe/", :target => "_BLANK"}
                        Steven Universe
              .social
                %a{:href => "#", :class => ""}
                  Facebook
                %a{:href => "#", :class => ""}
                  Twitter
                %a{:href => "#", :class => ""}
                  Instagram
          .project-title-block  
            .project-side-header-label
              %h4 Gallery
            .project-title  
              %h2.title
                Photography
              %h3.sub-title
                Editorial, Publications and Portraits by me.
    .animsition{:"data-animsition-out-class" => "fade-out-down-sm", :"data-animsition-out-duration"=>"1000"}    
      %section.photography-grid
        .container
          .grid
            .grid-sizer
            .grid-item
              %img{:src => "/img/gallery/gallery_image01.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image62.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image03.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image44.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image09.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image32.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image11.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image12.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image13.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image14.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image15.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image16.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image17.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image18.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image19.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image20.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image21.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image22.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image23.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image24.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image25.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image26.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image27.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image28.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image29.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image30.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image31.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image10.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image33.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image34.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image35.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image36.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image37.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image38.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image39.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image40.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image41.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image42.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image58.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image04.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image45.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image46.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image47.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image48.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image49.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image50.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image51.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image52.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image53.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image54.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image55.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image56.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image57.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image43.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image59.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image60.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image61.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image02.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image63.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image64.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image65.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image66.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image67.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image68.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image69.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image06.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image08.jpg"}
            .grid-item
              %img{:src => "/img/gallery/gallery_image07.jpg"}
    .noise
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"}
    %script{:src => "https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "js/scripts.js"}
    %script{:src => "js/packery-mode.pkgd.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')     
      $(function() {
        var $grid = $('.grid').imagesLoaded(function() {
          $grid.isotope({
            layoutMode: 'packery',
            packery: {
              columnWidth: '.grid-sizer'
            },
            itemSelector: '.grid-item',
            percentPosition: true
          });
        });
      });


