!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Dayne-Arron Watai Photography Portfolio
    %meta{:content => "UI/UX Designer", :name => "description"}/
    %meta{:content => "DayneWatai", :name => "author"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/animsition.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  %body.photography
    .border-top.frame
    .border-right.frame
    .border-bottom.frame
    .border-left.frame
    %section.head-section
      .container.animsition
        .header   
          .contact
            .contact-section.transition
              %a{:href => "index.html", :class=>"contact-btn animsition-link"}
                %span
                  DW
              .about-btn  
                %a{:href => "", :class => ""}
                  About Dayne-Arron Watai
              .current-events
                .ticker-wrapper
                  .ticker
                    .ticker__item 
                      Reading
                      %a{:href => "https://www.amazon.com/American-Gods-Novel-Deckle-Cut-Edges/dp/0062572237/ref=sr_1_1?ie=UTF8&qid=1498852216&sr=8-1&keywords=american+gods", :target =>"_BLANK"}
                        Neil Gaiman - American Gods: A Novel
                    .ticker__item
                      Listening to 
                      %a{:href => "https://soundcloud.com/superduperkylemusic/doubt-it", :target => "_BLANK"}
                        Kyle. - Doubt It
                    .ticker__item
                      Watching
                      %a{:href => "http://www.syfy.com/faceoff", :target => "_BLANK"}
                        Face Off
              .social
                %a{:href => "#", :class => ""}
                  Facebook
                %a{:href => "#", :class => ""}
                  Twitter
                %a{:href => "#", :class => ""}
                  Instagram
          .project-title-block  
            .project-side-header-label
              %h4 Gallery
            .project-title  
              %h2.title
                Photography
              %h3.sub-title
                Editorial, Publications and Portraits.
    .animsition{:"data-animsition-out-class" => "fade-out-down-sm", :"data-animsition-out-duration"=>"1000"}    
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"}
    %script{:src => "https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
    %script{:src => "js/scripts.js"}
    %script{:src => "js/packery-mode.pkgd.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')     
      $(function() {
        var $grid = $('.grid').imagesLoaded(function() {
          $grid.isotope({
            layoutMode: 'packery',
            packery: {
              columnWidth: '.grid-sizer'
            },
            itemSelector: '.grid-item',
            percentPosition: true
          });
        });
      });


